.item {
    border-bottom: 1px solid #ccc;
    text-align: left;
    padding: 1rem;    
    font-size: 1.25rem;        
}
.low {  
    border-left: #6bebffd1 0.5rem solid ;
    background-color: #6bebff84;
}

.medium {
    border-left: #e3d859ec 0.5rem solid;
    background-color: #f0e46485;
}

.high {
    border-left: #f89494 0.5rem solid;
    background-color: #FBB3B3;
}
.item input[type="checkbox"] {
    transform: scale(2); 
    margin-right: 1rem; 
}
.selected{
    opacity: 0.5;
}
.unselected{
    opacity: 1;
}